<div class="container">
    <div class="row justify-content-center">
        <img src="../assets/images/job-tracker-logo.png" class="mg-logo" alt="Job Tracker">
    </div>
    <div class="row">       
        <div class="col-xs-10 col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <form>
                        <div class="form-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                required autofocus>
                        </div>

                        <div class="form-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required>
                        </div>

                        <button class="btn btn-lg bg-dark-blue txt-white btn-block" type="submit">Log In</button>
                        <hr class="my-4">
                        <ul class="bottom-link">
                            <li class="bottom-link-item">
                                <a class="txt-mid-blue" href="#">Forget password?</a>
                            </li>
                            <li class="bottom-link-item">
                                <a class="txt-mid-blue" routerLink="/signup">Sign Up for Free</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>