<div class="bg-dark-blue">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg bg-dark-blue">
        <div class="col-1">
          <!-- <a class="navbar-brand"> -->
          <img class="mg-nav-logo" src="../assets/images/job-tracker-logo.png" alt="Job Tracker">
          <!-- </a> -->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbarSupportedContent"
          aria-controls="mainNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="col-10 collapse navbar-collapse" id="mainNavbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link txt-white" routerLink="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt-white" routerLink="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
