<div class="container">
    <div class="row justify-content-center">
        <img src="../assets/images/job-tracker-logo.png" class="mg-logo" alt="Job Tracker">
    </div>
    <div class="row">       
        <div class="col-xs-10 col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 

                        <div class="form-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                                formControlName="email" required>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.email.errors?.required">
                                <small>
                                    Email is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.email.errors?.invalidEmail">
                                <small>
                                    Email must be a valid email address.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" id="name"  name="name" class="form-control" placeholder="Name"
                            formControlName="name" required>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.required">
                                <small>
                                    Name is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.minlength">
                                <small>
                                    Minimum characters are {{MIN_NAME_LENGTH}}.
                                </small>
                            </div>
                            <div class="text-danger ml-2" *ngIf="submitted && signupFormControl.name.errors?.maxlength">
                                <small>
                                    Maximum characters are {{MAX_NAME_LENGTH}}.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                placeholder="Password" formControlName="password" required>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.required">
                                <small>
                                    Password is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.minlength">
                                <small>
                                    Password must be at least 15 characters.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                            placeholder="Confirm Password" formControlName="confirmPassword" required>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.password.errors?.required">
                                <small>
                                    Confirm password is required.
                                </small>
                            </div>
                            <div class="text-danger ml-2"
                                *ngIf="submitted && signupFormControl.confirmPassword.errors?.passwordMismatch">
                                <small>
                                    Password mismatch.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-lg bg-dark-blue txt-white btn-block" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>